@font-face {
    font-family: 'EconomicaBold';
    src: url('fonts/economica/Economica-Bold-OTF-webfont.eot');
    src:local('☺'), url('fonts/economica/Economica-Bold-OTF-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/economica/Economica-Bold-OTF-webfont.woff') format('woff'),
         url('fonts/economica/Economica-Bold-OTF-webfont.ttf') format('truetype'),
         url('fonts/economica/Economica-Bold-OTF-webfont.svg#EconomicaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AlegreyaItalic';
    src: url('fonts/alegreya/Alegreya-Italic-webfont.eot');
    src:local('☺'), url('fonts/alegreya/Alegreya-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/alegreya/Alegreya-Italic-webfont.woff') format('woff'),
         url('fonts/alegreya/Alegreya-Italic-webfont.ttf') format('truetype'),
         url('fonts/alegreya/Alegreya-Italic-webfont.svg#AlegreyaItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Limited reset*/
html,body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p,hgroup,
blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video {
	margin: 0;
	padding: 0;
	border: 0;
}
a
{
   text-decoration:none;
    }

/*html display rule*/
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary{
	display: block;
}

html, body
           {
              height: 100%;
            }


.wrapper 
{
    text-align:center;
    font:100% Georgia,"Times New Roman",Times,Sherif; 
    background:transparent url(images/dust.jpg);  
    min-height : 100%;
    position :relative;
}

#projects

    {
     overflow:auto;
	 padding-bottom: 200px;
	}  /* must be same height as the footer */
	
	
nav ul,ul.menu
{
    list-style:none; 
    
    }
/*-------Menu-----------*/    
nav
{
 position:absolute;
 left:500px;
 top:30px;
 padding:15px; 
        
            }
            
   ul li
       {
         font-family:EconomicaBold,ExoExtraBold,Helvetica,sans-serif;
          float:left;
        }
      
     ul li a
    {
        
      font-size:1.7em;
      color:#000000; 
      padding:0 30px;
      position: relative;
      border: none; 
        
        }
       
       ul li a.first
       {
           color:#FFA500;
          
           
           }  
           
         ul li a:hover
          {
            
            color:#FFA500;
            cursor:pointer;
              }  
          
               
       
         
     section 
     {
         
         position:absolute;
         top:180px;
         left:100px;
         
         } 
         
       section article
       {
          
          margin:0;
          padding:0;
         
           }
       section article h2
       {
          float:left;
          font-family:EconomicaBold,ExoExtraBold,Helvetica,sans-serif;
          color:#141414;
          font-size :1.8em;
          margin-bottom:7px;
         
           }
        p.clear
        {
            clear:both;
            }
    section article h3
    {
       
        
        }
    
   section article p.Text2col
       {
         
        
        font-family:AlegreyaItalic,sans-serif,Helvetica;
        font-size:1.3em;
        font-weight:500;
        color:#2B2B2B;
        letter-spacing:1px;
        width:300px;
       -moz-column-gap:20px;
       -webkit-column-count:1;
       -webkit-column-gap:20px; 
        column-count:1;
        column-gap :20px;
        text-align:left;
        margin-bottom:3px;  
          
    }
   
    
      section article Img
      {
         
          float:right;
          width:200px;
          height:200px;
          border:1px solid #CDC0B0;
          margin-left:80px;
          }   
      
    /* scroll to top */
#scroll  
{
 
  position: relative; 
  width: 1000px;
  margin: 0 auto;
  bottom: 14px; 
  right: 0;
  background: red;
  padding: 0;
}
  
#scroll a { 
  float: right;
  margin: 0 0 0 0; 
  padding: 0 0 0 0;
}
  
#scroll a img { 
  float: right;
  padding: 0 0 0 0;
  margin: 0;
}    
      
                   

footer h2
     {
      color:#DCDCDC; 
      font-family:EconomicaBold,Helvetica,sans-serif;
       letter-spacing:1px;
      text-align:center;
      font-weight:600;
      padding:30px 0 10px 0;  
         }
         
     .socialntw
      {
          
          padding-left:10px;
         
          
          }
       footer p
       
       {
           margin-top:8px;
           color:#DCDCDC;
           font-family: 'lucida sans', sans-serif;
           font-size: 90%;
           }
 
.footer 
{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
	height:200px;
    background-color:#0D0D0D; 
}

    
    