

/*--------slideshow style rules-------------*/

#slideshow
{
    width:640px;
    height:263px;
    background:transparent  url(images/bg_slideshow.jpg) no-repeat 0 0;
    position:relative;
    top:210px;
    left:600px;
   
    }
#slideshow #slidecontainer
{
    margin:0 auto;
    width:560px;
    height:263px;
    overflow:auto; /*allow scrollbar*/
    overflow-x:hidden;
    position:relative;
   
    }
#slideshow slidecontainer.slide
{
    
    margin:0 auto;
    width:540px;
    height:263px;
   
    }
    
    

    
/*----slideshow control rules-----*/

.control
{
  display:block;
  width:39px;
  height:263px;
  text-indent:-10000px;/*move left and right text hidden*/
  position:absolute;
  cursor: pointer;
 
    }
#leftControl 
{
  top:0;
  left:0;
  background:transparent url(images/control_left.jpg) no-repeat 0 0;

}
#rightControl {
  top:0;
  right:0;
  background:transparent url(images/control_right.jpg) no-repeat 0 0;
}

/*-----slideshow content styles....*/

.slide a
{
  color: #fff;
  font-weight:bold;
  text-decoration:none;
}
.slide a:hover {
  text-decoration:underline;
}
.slide h2, .slide p
{
  margin:15px;  
    }
    
 .slide h2
 {
  font:italic 24px Georgia, "Times New Roman", Times, serif;
  color:#ccc;
  letter-spacing:-1px; 
     
     }
  .slide p
  {
      font:normal 11px Verdana, Geneva, sans-serif;
      color:#ccc;
      
      }   
     
  .slide img
  {
      float:right;
      margin:0 15px;
      
      }